{{> group_nav_bar}}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Already completed:</h2>
            <ul>
                {{#each tasks}}
                {{#if isCompleted}}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{notes}}</p>
                        <p class="card-text">Completed at {{updatedAt}}</p>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h2>Tasks to be completed:</h2>
            <ul>
                {{#each tasks}}
                {{#unless isCompleted}}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{notes}}</p>
                        <button type="button" data-id="{{id}}" class="btn btn-success">Completed</button>
                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Add a New Task for {{group.name}}</h2>
            <form id="createTask">
                <div class="mb-3">
                    <label for="taskName" class="form-label">Task Name</label>
                    <input type="text" class="form-control" id="taskName" placeholder="Take out the trash.">
                </div>
                <div class="mb-3">
                    <label for="taskNotes" class="form-label">Add notes for this Task</label>
                    <textarea class="form-control" id="taskNotes" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-info" id="submitTask">Create Task</button>
            </form>
        </div>
    </div>
</div>

<script src="/assets/js/group_page.js"></script>