{{> group_nav_bar}}

<div class="container m-5">
    <div class="row">
        <div class="col-4">
            <h2>Owner</h2>
            <ul class="list-group">
                <li class="list-group-item">{{owner.username}}</li>
            </ul>
            <h2>Users</h2>
            <ul class="list-group">
                {{#each usersInGroup}}
                <li class="list-group-item">{{dataValues.username}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-8">
            <form id="addUserForm" data-id="{{group.id}}">
                <h2>Add a User to {{group.name}}</h2>
                <div class="mb-3">
                    <input class="form-control" list="allUsers" minlength="2" id="addUser"
                        placeholder="Search by Username">
                    <datalist id="allUsers">
                        {{#each usersNOTInGroup}}
                        <option value={{dataValues.username}}>
                            {{/each}}
                    </datalist>
                </div>
                <button type="submit" id="addUserButton" data-id="{{group.id}}" class="btn btn-primary">ADD</button>
            </form>
        </div>
    </div>
    <div class="row"></div>
</div>


<script type="text/javascript" src="/assets/js/group_page.js"></script>