{{> group_nav_bar}}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Tasks to be completed:</h2>
            <ul>
                {{#each tasks}}
                {{#unless isCompleted}}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        {{#if UserId}}
                        <p class="card-text text-muted assigned" data-id="{{UserId}}"></p>
                        {{/if}}
                        <p class="card-text">{{notes}}</p>
                        <button type="button" data-id="{{id}}" class="btn btn-success completeTask">Completed</button>
                        <button type="button" data-id="{{id}}" class="btn btn-info editTask" data-bs-toggle="modal"
                            data-bs-target="#editModal">Edit</button>
                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h2>Already completed:</h2>
            <ul>
                {{#each tasks}}
                {{#if isCompleted}}
                <div class="card" data-id="{{id}}" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{notes}}</p>
                        <button type="button" data-id="{{id}}" class="btn btn-danger deleteTask">Delete</button>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2>Add a New Task for {{group.name}}</h2>
            <form id="createTask">
                <div class="mb-3">
                    <label for="taskName" class="form-label">Task Name</label>
                    <input type="text" class="form-control" id="taskName" placeholder="Take out the trash.">
                </div>
                <div class="mb-3">
                    <label for="taskNotes" class="form-label">Add notes for this Task</label>
                    <textarea class="form-control" id="taskNotes" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <h4>Assign this task</h4>
                    <label for="usersInGroup">Select a user to assign this task to</label>
                    <select class="form-control" id="usersInGroup">
                        {{#each groupUsers}}
                        <option id="{{dataValues.id}}">{{dataValues.username}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mx-auto">
                    <button type="submit" class="btn btn-info btn-lg" id="submitTask">Create Task</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel"></h5>
                <p id="updateTaskId"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="newTaskName" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="newTaskName">
                    </div>
                    <div class="mb-3">
                        <label for="newTaskNotes" class="col-form-label">Notes:</label>
                        <textarea class="form-control" id="newTaskNotes"></textarea>
                    </div>
                </form>
                <div class="mb-3">
                    <label for="reassignTask">Reassign to:</label>
                    <select class="form-control" id="reassignTask">
                        {{#each groupUsers}}
                        <option id="{{dataValues.id}}">{{dataValues.username}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="updateTask" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/group_page.js"></script>