{{> group_nav_bar}}

<div class="container m-5">
    <div class="row">
        <div class="col-4">
            <h2>Users</h2>
            <ul class="list-group">
                {{#each usersInGroup}}
                <li class="list-group-item">{{dataValues.username}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-8">
            <form id="addUserForm" data-id="{{group.id}}">
                <h2>Add a User to {{group.name}}</h2>
                <div class="mb-3">
                    <input class="form-control" list="allUsers" minlength="2" id="addUser"
                        placeholder="Search by Username">
                    <datalist id="allUsers">
                        {{#each usersNOTInGroup}}
                        <option value={{dataValues.username}}>
                            {{/each}}
                    </datalist>
                </div>
                <button type="submit" id="addUserButton" data-id="{{group.id}}" class="btn btn-primary">ADD</button>
            </form>
        </div>
    </div>
    <div class="row"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Add a New Task for {{group.name}}</h2>
            <form id="createTask">
                <div class="mb-3">
                    <label for="taskName" class="form-label">Task Name</label>
                    <input type="text" class="form-control" id="taskName" placeholder="Take out the trash.">
                </div>
                <div class="mb-3">
                    <label for="taskNotes" class="form-label">Add notes for this Task</label>
                    <textarea class="form-control" id="taskNotes" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="userAssign" class="form-label">Assign this Task to a User in this Group</label>
                    <input class="form-control" list="allUsers" minlength="2" id="addUser"
                        placeholder="Search by Username">
                    <datalist id="usersInGroup">
                        {{#each usersInGroup}}
                        <option value={{dataValue.username}}>
                            {{/each}}
                    </datalist>
                </div>
                <button type="submit" class="btn btn-info" id="submitTask">Create Task</button>
            </form>
        </div>
    </div>
    <div class="row">
        <h2>Create a Routine for this Group</h2>
    </div>
</div>

<script type="text/javascript" src="/assets/js/group_page.js"></script>