{{> nav_bar}}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h2>{{user.username}}'s Routines</h2>
        </div>
    </div>
    <div class="row"></div>

    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Create a New Routine</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form id="newRoutineForm">
                <div class="row mb-2">
                    <label for="newRoutineName">Routine Name</label>
                    <input type="text" class="form-control" id="newRoutineName">
                </div>
                <div class="row mb-2">
                    <h4>Add Tasks</h4>
                </div>
                <div class="row mb-2">
                    {{#each tasks}}
                    <div class="card" data-id="{{dataValues.id}}" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{dataValues.name}}</h5>
                            <p class="card-text">{{dataValues.notes}}</p>
                            <button type="button" data-id="{{id}}" class="btn btn-danger addTask">Add</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button type="button" class="btn btn-success" id="createNewRoutine">Create New</button>
            </form>
        </div>
    </div>





</div>