{{> nav_bar}}

<div style="display:none">
    <span id="userId">{{user.id}}</span>
</div>
<div class="col-8 mx-auto my-5">
    <div class="bg-light p-3 m-2">
        <h1 class="text-dark text-center">Your groups</h1>
    </div><br>

    <div>
        <ul class="list-group list-group-flush">
            {{#each groups}}
            <li class="list-group-item text-center mb-2">
                <a class="btn btn-info btn-lg select-group" href="/users/home/groups/{{id}}" data-id="{{id}}">{{name}}</a>
                {{#if ownerLoggedIn}}
                <a class="btn btn-outline-danger deleteGroup" data-id="{{id}}" data-name="{{name}}">DELETE</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<form class="col-8 mx-auto">
    <div class="bg-light p-3 m-2">
        <h1 class="text-dark text-center">Create a new group</h1>
    </div><br>

    <form class="form-group">
        <label for="groupName" class="form-label">Name your group</label>
        <input type="text" class="form-control col" id="groupName">
        <div class="text-center mt-2">
            <button class="btn btn-success" id="createGroup">Create</button>
        </div>
    </form>
</form>

<script type="text/javascript" src="/assets/js/yourGroups.js"></script>